/* For Regular Weight */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/* For Bold Weight */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

.Hero{
  background-image: 
    radial-gradient(farthest-corner at 3px 3px, #043e57 70%, #00A1C0 150%), 
    url(/src/assets/Texture.png);
  height: 100vh;
  width: 98.5vw;
  background-repeat: repeat; 
  display: flex;
  flex-direction: row;
}

#logo{
  height: 1000px;
  width: 1000px;
  margin-left: -50px;
  margin-top: -60px;
}

#Hero_alltext_content{
  margin-left: 50px;
  margin-top: 50px;
  margin-right: -50px;
}

#heading_intro_text{
  font-family: Rubik, sans-serif;
  font-size: 72px;
  line-height: 72px;
  line-height: 0.84;
  word-spacing: -12px;

  letter-spacing: -3px;

  font-weight: 800;
  line-height: 72px;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  -webkit-text-fill-color: #FFFFFF;

  margin-top: 150px;
}

#Hero_text_p{
  color: rgba(255, 255, 255, 1);

  font-family: DM Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-top: 31px;
}

#button_container{
  margin-top: 30px ;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}

.join_btn_1{
  height: 64px;
  width: 235px;
  border-radius: 0.3rem;
  /* padding: 8px 20px 8px 20px; */
  border: none;

  font-family: DM Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.03em;
  text-align: center;
}

button{
  border: none;
  border-style: none;
  outline: none;

}

.curriculum_btn{
  background: linear-gradient(94.24deg, #033042 -0.03%, #005C83 99.97%),
  linear-gradient(94.05deg, #FFFFFF -161.35%, rgba(255, 255, 255, 0) 99.97%);
  border: 2px solid gray;

  font-family: DM Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.03em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  max-height: 64px;

  height: 64px;
  width: 235px;
  border-radius: 0.3rem;

  /* padding: 8px 20px 8px 20px; */

  margin-left: 32px;
}

.transparent_logo{
  border: 2px solid #005C83;
  margin-right: 8px;

}

.transparent_logo_img{
  height: 25px;
  width: 25px;
  opacity: 0;
}

.Hero_feature_div_container{
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}

.Hero_feature_div_1 .Hero_feature_div_1{
  padding-top: 22px;
}

.Hero_feature_div_2{
  margin-left: 40px;
}

.Hero_feature_div_1_subdiv{
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin-top: 32px; 
}

.Hero_feature_list_icon{
  min-height: 64px;
  min-width: 64px;
  left: -418px;
  top: -876px;
  border-radius: 8px;
  /* margin-top: 32px; */
  /* border: linear-gradient(180deg, #CFF1FF 0%, #2D5666 100%); */
  border: 2px solid #2D5666;

  /* border-image-source: linear-gradient(180deg, #CFF1FF 0%, #2D5666 100%); */
  
}

.Hero_feature_list_text{
  color: rgb(255, 249, 249);
  /* font-weight: 300; */
  letter-spacing: 0.5px;
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-left: 24px;
}

.pricing_container{
  display: flex;
  flex-direction: row;
  background-image: url(./assets/bg-graph.png);
  background-size: 100% 100%;
  /* background-color: #000000; */

}

.Test{
  background-image: url(./assets/bg-graph.png);
  background-size: 100% 100%;
  background-color: #000000;
  height: 100vh;
  width: screen-width;

}

.pricing_details_div{
  margin: 256px 180px 260px 70px;
}

#pricing_intro_text{
  font-family: Rubik, sans-serif;
  font-style: ExtraBold;
  font-size: 64px;
  font-weight: 800;
  line-height: 90px;
  line-height: 1.19;
  text-align: left;
  vertical-align: top;
  letter-spacing: -0.03em;
  word-spacing: -6px;
  line-height: 90px;
  letter-spacing: -0.03em;

  padding-bottom: 40px;
}

.highlightened_text{
  color: #005C83;
}


#pricing_intro_text_p{
  font-family: DM Sans;
  font-size: 24px;
  line-height: 40px;
  line-height: 128%;
  vertical-align: Top;
  font-weight: 400;
  letter-spacing: -0.03em;

  padding-bottom: 80px;
}

.pricing_empty_icon{
  background: rgba(217, 217, 217, 1);
  min-height: 80px;
  min-width: 80px;
  max-height: 80px;
  max-width: 80px;
  border-radius: 8px;

  margin-right: 24px;
}

#pricing_feature_list_div_container_2{
  margin-left: 36px;
}

.pricing_feature_list_div{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.pricing_feature_list_div_line_1{
  color: rgba(0, 0, 0, 1);
  font-family: "DM Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.03em;
  text-align: left;
}

.pricing_feature_list_div_line_2{
  color: rgba(0, 0, 0, 1);
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.03em;
  text-align: left;
}

.pricing_feature_list_container{
  display: flex;
  flex-direction: row;
}

.pricing_feature_list_div_container{
  display: flex;
  flex-direction: column;
}

.discount_price{
  font-family: DM Sans;
  font-size: 72px;
  line-height: 72px;
  font-weight: 900;
  letter-spacing: -0.03em;
  text-align: left;
  color: linear-gradient(90deg, #3F6FC1 0%, #05445E 100%);
  height: 72px;
  width: 280px;
  left: 527px;
  top: -303px;
  border-radius: nullpx;
}

.actual_price{
  font-family: DM Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(129, 129, 129, 1);
  height: 72px;
  width: 206px;
  left: 527px;
  top: -375px;
  border-radius: nullpx;
  text-decoration: line-through;
}

.card_heading{
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.03em;
  color: rgba(15, 15, 15, 1);
  height: 32px;
  width: 248px;
  
  background-image: url(./assets/bg-graph.png);
  background-size: 100% 100%;
}

.card_header_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0px 40px 30px;
  max-height: 280px;
}

.card{
  /* border: 1px solid red; */
  max-width: 615px;
  margin-right: 150px;
  margin-top: 100px;
}

/* #color{
  
  background-image: radial-gradient(circle 500px at bottom, #FFFFFF 0, #FFFFFF 200px, rgba(255, 255, 255, 0) 20px),
  linear-gradient(to bottom, #00A1C0, #05445E);
} */

#card_body{
  background: #05445E;
  background-image:  radial-gradient(    
    farthest-corner at 3px 3px,    
    #05445E 70%,    
    #00A1C0 200%  
  );
  /* background-image: linear-gradient(to bottom, #05445E 80%, #00A1C0 ); */
  padding: 30px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card_header_div{
  border: 1px solid rgb(130, 160, 170);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.transparent_logo_rectangle{
  min-height: 80px;
  min-width: 80px;
  border-radius: 8px;
  border: 3px solid #CFF1FF;
  background-color: linear-gradient(180deg, #CFF1FF 0%, #2D5666 100%);
}

.card_body_content{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 28px 0px 16px 10px;
}

.pricing_card_list_text_div{
  color: rgba(255, 255, 255, 1);
  margin-left: 18px;
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 100 !important;
  line-height: 40px;
  letter-spacing: -0.03em;
  
}

.join_btn{
  height: 64px;
  width: 535px;
  border-radius: 8px;
  padding: 8px 20px 8px 20px;
  color: rgba(4, 60, 83, 1);

  font-family: DM Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.03em;
  text-align: center;

  margin-top: 24px;
  border: none;
  border-style: none;
  outline: none;
  }


  @media only screen and (max-width: 1600px) and (max-height: 900px) and (min-width: 900px) {

    /* Adjust the Hero section */
  
    #logo_container{
      position: absolute;
      top: -40px;
      right: 0;
      height: 650px;
      width: 650px;
      overflow: hidden;
    }
  
    #logo {
      height: 100%;
      width: auto;
      margin: 0px 0px 0px 0px;
    }
    
    #Hero_alltext_content {
      margin-top: 60px;
      margin-left: 90px;
      width: 550px;
      /* margin-right: 0; */
    }
  
    #heading_intro_text {
      font-size: 50px;
      letter-spacing: -1.5px;
      margin-top: 60px;
    }
  
    #Hero_text_p {
      font-size: 14px;
      line-height: 32px;
      margin-top: 10px;
      width: 450px;
    }
  
    #button_container {
      margin-top: 20px !important;
    }

    .join_btn_1 {
      height: 44px;
      width: 170px;
      font-size: 16px;
    }
  
    .curriculum_btn {
      font-size: 16px;
      line-height: 40px;
      height: 44px;
      width: 170px;
      margin-left: 20px;
    }
  
    .Hero_feature_div_1 {
      margin-top: 30px;
    }

    .Hero_feature_div_2{
      margin-top: 30px;
    }

    .Hero_feature_div_1_subdiv{
      margin-top: 16px;
    }

    .Hero_feature_div_2_subdiv{
      margin-top: 24px;
    }

    .Hero_feature_list_icon {
      min-height: 44px;
      min-width: 44px;
      left: initial;
      top: initial;
    }
  
    .Hero_feature_list_text {
      font-size: 14px;
      line-height: 28px;
      margin-left: 12px;
    }

    .pricing_details_div{
      margin: 200px 40px 200px 40px;
    }

    #pricing_intro_text{
      font-size: 44px;
      line-height: 70px;
      line-height: 1.19;
    }
  
    #pricing_intro_text_p{
      font-size: 16px;
      line-height: 40px;
      line-height: 128%;
    }

    .pricing_feature_list_div{
      margin-top: 20px;
    }
    
    .pricing_feature_list_div_line_1{
      font-size: 24px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: -0.03em;
    }
    
    .pricing_feature_list_div_line_2{
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.03em;
    }    

    .pricing_empty_icon{
      min-height: 50px;
      min-width: 50px;
      max-height: 50px;
      max-width: 50px;
    
      margin-right: 14px;
    }
    
    .discount_price{
      font-size: 52px;
      line-height: 72px;
      height: 72px;
    }
    
    .actual_price{
      font-size: 40px;
      line-height: 72px;
      height: 52px;
    }
    
    .card_heading{
      font-size: 18px;
      line-height: 22px;
      height: 22px;
    }
    
    .card_header_container{
      padding-top: 30px;
      padding-left: 30px;
      padding-bottom: 20px;
      min-width: 400px;
    }
    
    .card{
      max-width: 400px;
      margin-right: 100px;
      margin-top: 80px;
    }
    
    #card_body{
      padding: 24px;
      margin-bottom: 20px;
    }
    
    .card_header_div{
      max-width: 400px;
      border: 1px solid rgb(130, 160, 170);
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }
    
    .transparent_logo_rectangle{
      min-height: 50px;
      min-width: 50px;
      border: 1px solid #CFF1FF;
    }
    
    .card_body_content{
      align-items: center;
      margin: 0px 0px 26px 0px;
    }
    
    .pricing_card_list_text_div{
      color: rgba(255, 255, 255, 1);
      font-family: DM Sans;
      font-size: 16px;
      font-weight: 500 !important;
      line-height: 24px;
      
    }

    #button_container{
      margin-top: 0px ;
    }
  
    .join_btn{
      height: 44px;
      font-size: 16px;
      margin-top: 0px;
      margin-bottom: 8px;
    }
  }

  /* Media query for iPhone 14 Pro Max (428px x 926px) */

@media only screen and (max-device-width: 740px) and (max-device-height: 1000px) and (-webkit-device-pixel-ratio: 3) {

  .Hero {
    background-size: cover;
    flex-direction: column;
    height: 100vh;
    width: 600px;
  }

  #logo {
    height: 380px !important;
    width: 380px !important;
    margin: 50px 0px 0px 0px !important;
  }

  #Hero_alltext_content {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  #heading_intro_text {
    font-size: 34px !important;
    letter-spacing: -1px;
    word-spacing: -7px;
    margin-top: 64px;
    text-align: center;
  }

  #Hero_text_p {
    font-size: 16px;
    letter-spacing: -0.03em;
    line-height: 28px;
    margin: 6px 80px 0px 80px;
    text-align: center;
    font-weight: 400;

  }

  .transparent_logo {
    margin-right: 4px;
  }

  .transparent_logo_img {
    height: 20px;
    width: 20px;
  }

  .Hero_feature_div_container {
    flex-direction: row;
    align-items: center;
    margin: 0px 30px 0px 30px !important;
  }

  .Hero_feature_div_2 {
    margin-left: 30px !important;
    margin-top: 0px;
  }

  .Hero_feature_list_icon {
    min-height: 48px;
    min-width: 48px;
    left: -308px;
    top: -652px;
  }

  .Hero_feature_list_text {
    font-size: 17px;
    letter-spacing: -0.02em;
    line-height: 26px;
    margin-left: 16px;
    margin-top: 0;
  }

  #button_container{
    margin: 30px 0px 0px 0px;
    flex-direction: column;
    align-items: center;
  }

  .join_btn_1 {
    font-size: 18px;
    line-height: 32px;
    height: 48px;
    margin: 0px 0px 24px 0px;
    width: 330px !important; 
  }

  .curriculum_btn{
    margin: 0px 0px 14px 0px;
    width: 50px;
    font-size: 18px;
    line-height: 32px;
    height: 48px;
    width: 330px !important; 
    margin-left: 16px;  
  }

  .pricing_details_div{
    margin: 32px 0px 0px 0px ;
    width: 310px;
  }

  #pricing_intro_text{
    font-size: 30px !important;
    margin: 0px 0px 20px 50px !important;
  }

  #pricing_intro_text_p{
    margin-left: 34px !important;
  }
  
  #pricing_feature_list_div_container_2{
    margin-left: 20px !important;
  }  
  
  .pricing_feature_list_div_container{
    margin-left: 20px !important;
  }

  /* -------------------card---------------------------- */  
  .card_header_div{
    margin: 0px 0px 0px 40px !important;
  }
    
  #card_body{
    margin: 0px 0px 0px 40px !important;
  }
}
  
/* For screens smaller than 576px (e.g. smartphones) */
@media (max-width: 600px) {
  /* Styles for smartphones */

  .Hero {
    background-size: cover;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  #logo_container{
    position: absolute;
    top: 370px;
    right: 0;
    height: 380px;
    width: 370px;
    overflow: hidden;
  }

  #logo {
    height: 100%;
    width: auto;
    margin: 0px 0px 0px 0px;
  }

  #Hero_alltext_content {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  #heading_intro_text {
    font-size: 36px;
    word-spacing: 0px;
    letter-spacing: -2px;
    margin-top: 32px;
    text-align: center;
  }

  #Hero_text_p {
    font-size: 12px;
    letter-spacing: -0.03em;
    line-height: 20px;
    margin: 0px 20px 0px 20px;
    text-align: center;
    font-weight: 400;
  }

  #button_container{
    margin: 30px 0px 0px 0px;
    flex-direction: column;
    align-items: center;
  }

  .join_btn_1 {
    font-size: 16px;
    line-height: 32px;
    height: 48px;
    margin: 0px 0px 14px 0px;
    width: 310px;
  }

  .curriculum_btn {
    margin: 0px 0px 14px 0px;
    font-size: 16px;
    line-height: 32px;
    height: 48px;
    width: 310px;
  }

  .mobile_view_reverse{
    display: flex;
    flex-direction: column-reverse;
  }

  .Hero_feature_div_container {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    margin-left: 25px;
    width: 319px;
  }

  .Hero_feature_div_1{
    margin: -10px 0px 0px 0px;
    padding: 0px;
  }

  .Hero_feature_div_2 {
    margin: -10px 0px 0px 0px;
  }

  .Hero_feature_list_icon {
    min-height: 38px;
    min-width: 38px;
  }

  .Hero_feature_list_text {
    font-size: 12px;
    letter-spacing: -0.02em;
    line-height: 16px;
    margin-left: 6px;
  }


  .pricing_container {
    flex-direction: column;
  }

  .pricing_details_div{
    margin: 32px 0px 0px 0px ;
    width: 310px;
  }

  #pricing_intro_text{
    font-size: 36px;
    word-spacing: -3px;
    letter-spacing: -1px;
    margin: 0px 0px 20px 40px;
    text-align: center;
    line-height: 40px;
    padding: 0px 0px 0px 0px;
  }

  #pricing_intro_text_p{
    font-size: 12px;
    letter-spacing: -0.03em;
    line-height: 20px;
    margin: 0px 20px 20px 20px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-weight: 400;
    width: 310px;
  }

  #pricing_intro_text_p span{
    display: none;
  }

  #pricing_intro_text_p:after{
    content: "Lorem ipsum dolor sit amet, consectetur, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua";
  }

  .pricing_empty_icon{
    min-height: 30px;
    min-width: 30px; 
    max-width: 30px;
    max-height: 30px;
    margin: 0px 0px 0px 0px;
  }

  .pricing_feature_list_div{
    margin-top: 0px;
    width: max-content;    
    align-items: center;
    margin-bottom: 20px;
  }
  
  .pricing_feature_list_div_line_1{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    margin-left: 4px;
  }
  
  .pricing_feature_list_div_line_2{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    margin-left: 4px;
  }

  #pricing_feature_list_div_container_2{
    margin-left: 8px;
  }  
  
  .pricing_feature_list_div_container{
    margin-left: 8px;
  }

  /* -------------------card---------------------------- */  
  .card{
    margin: 32px 0px 64px 0px;
  }

  .card_header_div{
    width: 310px;
    margin: 0px 0px 0px 24px;
  }

  .card_header_container{
    padding: 20px 0px 0px 20px;
    max-height: 120px;
  }

  .card_heading{
    font-size: 12px;
    line-height: 20px;
    margin: 0px 0px 0px 0px;
    height: 20px;
  }
  
  .discount_price{
    font-size: 32px;
    line-height: 32px;
    /* height: 72px; */
  }
  
  .actual_price{
    font-size: 24px;
    line-height: 32px;
    height: 36px;
    padding-bottom: 10px;
  }
    
  #card_body{
    width: 310px;
    margin: 0px 0px 0px 24px;
    padding-top: 24px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .transparent_logo_rectangle{
    min-height: 30px;
    min-width: 30px; 
    max-width: 30px;
    max-height: 30px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 1px solid #CFF1FF;
  }
  
  .card_body_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 16px 0px;
  }
  
  .pricing_card_list_text_div{
    margin-left: 8px;
    font-size: 12px;
    line-height: 18px;    
  }
  
  .join_btn{
    font-size: 18px;
    height: 44px; 
    width: 262px;
    padding: 8px 20px 8px 20px;  
    line-height: 18px;
    margin-top: 0px;
    }
}